@import url("./font.css");
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background: rgb(54, 43, 232);
  background: linear-gradient(
    60deg,
    rgba(54, 43, 232, 1) 0%,
    rgba(129, 129, 212, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    position: relative;
    margin-top: 20px;
    width: 400px;
    background-color: white;
    backdrop-filter: blur(10deg);
    border-radius: 20px;
    padding: 30px;
    animation: slidedown 1s ease-in;
}

.login-header{
    margin-top: 30px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 5px;
    text-align: center;
}

.home-button{
    position: absolute;
    padding: 10px;
    top: 20px;
    left: 20px;
    background: linear-gradient(
        120deg,
        rgba(54, 43, 232, 1) 0%,
        rgba(129, 129, 212, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.home-button:hover{
    transform: translate(1px, 1px);
    transition: all 0.2s step-end;
}

#form-login{
    width: 100%;
    margin: 30px 0px;
}

#form-login .form-control{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#form-login .form-control label{
    font-size: 16px;
    color: #686868;
    letter-spacing: 2px;
}

#form-login .form-control input{
    margin-top: 10px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: transparent;
    color: #686868;
    border: solid 2px rgba(0, 212, 255, 1);
}

.form-control.error input
{
  border: solid 2px #e74c3c !important;
}

.form-control.success input
{
  border: solid 2px #06b64f !important;
}

.form-control small {
  display: none;
}

.form-control.error small {
  display: block;
  margin-top: 10px;
  color: #e74c3c;
}

#form-login .remember-form{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#form-login .remember-form input{
    padding: 10px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#form-login .remember-form span{
    font-size: 16px;
}

#form-login .form-control input[type=submit]{
    border-radius: 50px;
    font-weight: 600;
    color: white;
    background: linear-gradient(
        120deg,
        rgba(54, 43, 232, 1) 0%,
        rgba(129, 129, 212, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
}

#form-login .form-control input[type=submit]:hover{
    transform: translate(1px, 1px);
}

.social-login p{
    text-align: center;
    font-weight: 600;
    color: #686868
}

.social-icons-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons-container .social-icon{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.social-icons-container .social-icon:hover{
    transform: translate(1px, 1px);
}

.social-icons-container .social-icon img{
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
}

.forgot-password{
    margin: 10px;
    text-align: center;
}

.forgot-password a{
    text-decoration: none;
    color:rgba(0, 212, 255, 1);
    font-style: italic;
}

@keyframes slidedown {
    0%{
        transform: translateY(-300px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}