<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/checkout.css" />
    <title>Check Out Service</title>
  </head>
  <body>
    <div id="header">
      <div class="logo">
        <span>logo</span>
      </div>
      <div class="header-menu">
        <div class="menu-item"><a href="./home.html">Trang chủ</a></div>
        <div class="menu-item"><a href="#">Dịch vụ</a></div>
        <div class="menu-item"><a href="./order-detail.html">Chi tiết đơn hàng</a></div>
        <div class="menu-item"><a href="#">Liên hệ</a></div>
        <div class="menu-item"><a href="./login.html">Đăng nhập</a></div>
      </div>
    </div>
    <div id="checkout">
      <div class="checkout-container">
        <form action="" id="checkout-form">
          <div class="service-checkout">
            <div class="image-container">
              <img src="../public/assest/images/bg3.jpg" alt="" />
            </div>

            <div class="service-infor">
              <p class="service-name">Dịch vụ lắp đặt nội thất</p>
              <p class="service-price">Giá: <span id="price-per-service">500000</span> vnd</p>
            </div>

            <div class="worker-infor">
              <p class="woker-name">Người thực hiện: Nguyễn Văn A</p>
              <p class="woker-age">Tuổi: 38</p>
              <p class="woker-level">Kinh Nghiệm: 5 năm</p>
            </div>

            <div class="form-control">
              <label for="number_of_service">Số lượng* </label>
              <input type="number" placeholder="Nhập số lượng" name="number_of_service" value="1" />
              <small class="error-msg"></small>
            </div>

            <div class="total">
                <span>Tổng Chi Phí: </span>
                <span id="total-price"></span>
                <span>VNĐ</span>
            </div>

          </div>
          <div class="checkout-form-container">
            <p>Vui lòng nhập thông tin để tiến hành đặt hàng!</p>
            <p>Bắt buộc*</p>

            <div class="form-control">
              <label for="name">Tên khách hàng* </label>
              <input type="text" placeholder="Nhập tên của bạn" name="name" />
              <small class="error-msg"></small>
            </div>

            <div class="form-control">
              <label for="name">Số điện thoại* </label>
              <input
                type="text"
                placeholder="Nhập tên của bạn"
                name="phone_number"
              />
              <small class="error-msg"></small>
            </div>

            <div class="form-control">
              <label for="name">Địa chỉ* </label>
              <input
                type="text"
                placeholder="Nhập tên của bạn"
                name="address"
              />
              <small class="error-msg"></small>
            </div>

            <div class="form-control">
              <input type="submit" />
              <small class="error-msg"></small>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="model" class="">
      
      <div class="notify-success">
        <div class="close-btn">
          <img src="../public/assest/icons/close.png" alt="" width="35px">
        </div>
        <div class="icon-success">
          <img src="../public/assest/icons/checked.png" alt="" width="100px">
        </div>
        <div class="notify-content">
          <p>Cảm ơn quý khách đã sử dụng dịch vụ</p>
          <p>Chúng tôi sẽ liên hệ để xác nhận đơn hàng</p>
          <p>Mã giao dịch của bạn là:</p>
          <p>#sa3232</p>
        </div>
      </div>
    </div>
  </body>
  <script src="../public/js/checkout.js" type="module"></script>
</html>
