@import url("./header.css");

html,
body {
  width: 100%;
  height: 100%;
  background: rgb(54, 43, 232);
  background: linear-gradient(
    60deg,
    rgba(54, 43, 232, 1) 0%,
    rgba(129, 129, 212, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#checkout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-container {
  width: 80%;
  height: 80%;
  background-color: rgba(243, 238, 238, 0.3);
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(20px);
  overflow-y: scroll;
}


/* width */
.checkout-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.checkout-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.checkout-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.checkout-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#checkout-form {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.checkout-form-container {
  padding: 50px 100px;
}

.checkout-form-container p:first-child {
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-shadow: 0px 0px 5px white;
  margin-bottom: 10px;
}

.checkout-form-container p {
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-shadow: 0px 0px 5px white;
  margin-bottom: 10px;
}

#checkout-form {
  margin-top: 20px;
}

#checkout-form .form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#checkout-form .form-control label {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#checkout-form .form-control input {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  outline: solid 3px white;
  border-color: transparent;
}

#checkout-form .form-control input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.form-control.error input {
  outline: solid 3px #e74c3c !important;
}

.form-control.success input {
  outline: solid 3px #06b64f !important;
}
.form-control small {
  display: none;
}

.form-control.error small {
  display: block;
  margin-top: 10px;
  color: #e74c3c;
}

.checkout-container .service-checkout {
  padding: 50px 100px;
}

.checkout-container .service-checkout .image-container {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 10px white;
}

.checkout-container .service-checkout .image-container img {
  width: 100%;
  object-fit: contain;
}

.service-checkout .service-infor {
  margin-bottom: 20px;
}

.service-checkout .worker-infor {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.541);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(250, 145, 8);
}
.service-checkout .total {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 4px 0px 5px rgba(0, 0, 0, 0.5);
}

.service-checkout .service-infor .service-name {
  font-size: 32px;
  margin-top: 10px;
  font-weight: 600;
  text-shadow: 0px 0px 5px white;
}

.service-checkout .service-infor .service-price {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
  text-shadow: 0px 0px 5px white;
}

/* ----------------------------Model------------------------ */
#model {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
#model.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

#model .notify-success {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  width: 500px;
  height: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}

#model.active .notify-success {
  opacity: 1;
  transition: all 1s ease;
}

#model .notify-success .close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}

#model .notify-success .close-btn:hover {
  background-color: #dddd;
}

#model .notify-success .icon-success {
  background-color: #3ed17b77;
  padding: 20px;
  border-radius: 50%;
}

#model .notify-success .notify-content {
  margin-top: 50px;
}

#model .notify-success .notify-content p:first-child {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

#model .notify-success .notify-content p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

#model .notify-success .notify-content p:last-child {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: #3ed17b;
}

#service-combobox
{
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  outline: solid 3px white;
  border-color: transparent;
}
#service-combobox option{
  color: black;
  font-size: 20px;
}
