.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 100%;  
  height: 100vh;
}

.mySwiper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.mySwiper .swiper-slide{
    position: relative;
}


.bg-slider-thumbs{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    border-radius: 5px;
}

.thumbs-container{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    
}

.thumbs-container img{
    width: 50px !important;
    height: 35px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.swiper-slide-thumb-active{
    border: solid 2px white;
}