<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/order-detail.css" />
    <title>Check Out Service</title>
  </head>
  <body>
    <div id="header">
      <div class="logo">
        <span>logo</span>
      </div>
      <div class="header-menu">
        <div class="menu-item"><a href="./home.html">Trang chủ</a></div>
        <div class="menu-item"><a href="#">Dịch vụ</a></div>
        <div class="menu-item"><a href="./order-detail.html">Chi tiết đơn hàng</a></div>
        <div class="menu-item"><a href="#">Liên hệ</a></div>
        <div class="menu-item"><a href="./login.html">Đăng nhập</a></div>
      </div>
    </div>

    <div id="main-content">
        <div class="search-container">
            <input type="text" placeholder="Nhập mã giao dịch để tìm kiếm" name="order_code">
            <div class="search-icon">
                <img src="../public/assest/icons/search.png" alt="" width="30px">
            </div>
        </div>

        <div class="orders-container">
            <div class="order-card">
                <div class="image-service">
                    <img src="../public/assest/images/bg4.jpg" alt="">
                </div>
                <div class="content">
                    <p class="service-name">Dịch vụ sửa ống nước</p>
                    <p class="service-price">500,000 vnd</p>
                    <p class="service-time">15:05 - 10/8/2022 </p>
                </div> 
                <div class="status progress">
                    <span>status</span>
                </div>
                <div class="option-buttons">
                    <button>
                        <img src="../public/assest/icons/trash-bin.png" alt="" width="50px">
                    </button>
                </div>
            </div>

            <div class="order-card">
                <div class="image-service">
                    <img src="../public/assest/images/bg4.jpg" alt="">
                </div>
                <div class="content">
                    <p class="service-name">Dịch vụ sửa ống nước</p>
                    <p class="service-price">500,000 vnd</p>
                    <p class="service-time">15:05 - 10/8/2022 </p>
                </div> 
                <div class="status progress">
                    <span>status</span>
                </div>
                <div class="option-buttons">
                    <button>
                        <img src="../public/assest/icons/trash-bin.png" alt="" width="50px">
                    </button>
                </div>
            </div>

            <div class="order-card">
                <div class="image-service">
                    <img src="../public/assest/images/bg4.jpg" alt="">
                </div>
                <div class="content">
                    <p class="service-name">Dịch vụ sửa ống nước</p>
                    <p class="service-price">500,000 vnd</p>
                    <p class="service-time">15:05 - 10/8/2022 </p>
                </div> 
                <div class="status progress">
                    <span>status</span>
                </div>
                <div class="option-buttons">
                    <button>
                        <img src="../public/assest/icons/trash-bin.png" alt="" width="50px">
                    </button>
                </div>
            </div>

            <div class="order-card">
                <div class="image-service">
                    <img src="../public/assest/images/bg4.jpg" alt="">
                </div>
                <div class="content">
                    <p class="service-name">Dịch vụ sửa ống nước</p>
                    <p class="service-price">500,000 vnd</p>
                    <p class="service-time">15:05 - 10/8/2022 </p>
                </div> 
                <div class="status progress">
                    <span>status</span>
                </div>
                <div class="option-buttons">
                    <button>
                        <img src="../public/assest/icons/trash-bin.png" alt="" width="50px">
                    </button>
                </div>
            </div>
        </div>
    </div>
    
  </body>
  <script src="../public/js/checkout.js" type="module"></script>
</html>
