@import url("./admin.css");

#order-detail-form {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 50px;
}

#order-detail-form .form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#order-detail-form .form-control label {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#order-detail-form .form-control input,
#order-detail-form .form-control select,
#service-combobox {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  outline: solid 3px white;
  border-color: transparent;
}

option {
  color: black;
  font-size: 20px;
}

.update-status, 
.update-status-huy{
  margin-top: 20px;
  width: 90px;
  height: 35px;
  border-radius: 5px;
  background-color: #057777;
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px white;
  float: right;
}

.submit-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

.update-status:hover {
  transform: scale(1.05);
}
.update-status-huy:hover {
  transform: scale(1.05);
}
