@import url("./font.css");
@import url("./swiper.css");
@import url("./ripple-button.css");
@import url("./header.css");



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html,
body{
    position: relative;
    width: 100%;
    height: 100%;
}

/* -----------------------------SLIDE CONTENT------------------------*/
.swiper-slide .text-content{
    position: absolute;
    max-width: 600px;
    left: 6em;
    color: white;
    text-align: left;
}

.swiper-slide .text-content .title{
    font-size: 32px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    letter-spacing: 2px;
    transform: translateY(-100px);
    opacity: 0;
}

.swiper-slide-active .text-content .title{
    transform: translateY(0px);
    opacity: 1;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.swiper-slide .text-content .title span{
    font-size: 14px;
    letter-spacing: 2px;
}

.swiper-slide .text-content p{
    margin-top: 20px;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    text-align: left;
    padding: 20px;
    font-size: 15px;
    transform: translateX(-100px);
    opacity: 0;
}

.swiper-slide-active .text-content p{
    transform: translateX(0px);
    opacity: 1;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.swiper-slide .text-content .book-service{
    margin-top: 20px;
    width: 150px;
    height: 45px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: rgb(216, 216, 43);
    background-color: none;
    transform: translateX(200px);
    opacity: 0;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.swiper-slide-active .text-content .book-service{
    transform: translateX(0px);
    opacity: 1;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* -----------------------------END SLIDE CONTENT------------------- */

.main-container{
    position: relative;
}

.button-option-container{
    position: absolute;
    z-index: 9999;
    right: 6em;
    top: 50%;
    transform: translateY(-50%);
}

.button-option button{
    margin-top: 20px;
    min-width: 250px;
    background-color: white;
    border-radius: 5px;
    height: 50px;
    font-size: 18px;
    border: none;
    box-shadow: 0px 0px 10px rgba(20, 169, 238, 0.4);
    color: rgb(0, 153, 255);
    transition-duration: .5s;
}

.button-option button a{
    color: rgb(0, 153, 255)
}

.button-option button:hover{
    transform: scale(1.05);
    
}

/* ----------------------------SERVICES CONTAINER-------------------------------- */
.service-container{
    display: flex;
    background-color: #dddd;
}


.service-container .services{
    flex-grow: 7;
}

.service-container .services .header-service{
    padding: 20px;
    border-bottom: solid 2px white;
}

.services .header-service p:first-child{
    font-size: 32px;
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.services .header-service p:last-child{
    font-size: 16px;
    color: black;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.services .list-service{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 30px;
    padding: 20px 30px;

}

.services .list-service .service-card{
    width: 100%;
    display: block;
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.service-card .image-container{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 5px;
}

.service-card img[class=image-service] {
    width: 100%;
    object-fit: contain;
    transition: all .5s ease;
}

.service-card:hover img[class=image-service] {
    transform: scale(1.2);
}

.service-card .service-name{
    margin: 10px 0px;
}

.service-card .service-price{
    font-size: 18px;
    font-weight: 600;
}

.service-card .service-card-button{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.service-card .service-card-button:hover{
    background-color: rgb(32, 32, 32);
}

/* --------------------------END SERVICE CARD----------------------------------- */

/* ------------------------------------START FILTER------------------------------ */
.service-container .filter{
    width: 100%;
    flex-grow: 3;
    background-color: white;
}
.header-filter{
   width: 100%;
   height: 95px;
   background-color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
}

.filter-container{
    padding: 20px 30px;
}

.filter-item{
    margin-bottom: 20px;
}

.filter-item .filter-name{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.filter-item .search-service-input{
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.filter-item .search-filter-btn,
.filter-item .price-range-apply
{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(15, 15, 17);
    /* float: right; */
    color: white;
    cursor: pointer;
    transition: .3s ease;
    font-weight: 600;
    border: solid 3px black;
}

.filter-item .search-filter-btn:hover,
.filter-item .price-range-apply:hover
{
    background-color: white;
    color: black;
}

.filter-item .price-range-filter{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.filter-item .price-range-filter input{
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}





/* ---------------------------------END FILTER ---------------------------------- */


/* ------------------------------------FOOTER------------------------------------- */
#footer{
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

